@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*Header*/

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    border-bottom: 0.5px solid #CCC;
}

#header img {
    width: 80px;
}

#header .navigation {   
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#header .navigation a {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.login, .cadastro {
    padding: 8px 48px;
    border-radius: 50px;
    cursor: pointer;
}
.login{
    border: 1px solid #349730;
    background-color: transparent;
    transition: 0.5s;
}

.cadastro{
    border: none;
    background-color: #349730;
    color: white;
}

/*Main*/

main {
    height: 76vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

main form {
    display: flex;
    gap: 2rem;
}

main .left-inputs, main .right-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .left-inputs input, main .right-inputs input{
    border-radius: 20px;
    border: 1px solid #455A64;
    background: #FFF;
    width: 418px;
    height: 48px;
    padding-left: 30px;
}

main .left-inputs textarea {
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #455A64;
    background: #FFF;
    width: 418px;
    padding-left: 30px;
    padding: 24px;
}

main .right-inputs button {
    width: 418px;
    height: 48px;
}

/*Footer*/

footer {
    background-color: #455A64;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
}

footer p {
    color: #ffffff;
}